.divContainer {
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    position: relative;
    justify-content: center; 
    align-items: center;
}

.ulContainer {
    display: flex;
    justify-content: space-evenly; /* Separa las dos listas */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
}

.divContainer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px; /* Espacio entre elementos li */
}

.searchBar{
    position: absolute;
    left: 50%; /* Mueve el elemento al 50% del ancho del contenedor */
    top: 100%; /* Opcional: centra verticalmente */
    transform: translate(-50%, -50%); /* Compensa el desplazamiento */
    background-color: black;
    padding: 10px;
    border-radius:20px ;
   
}

.searchBar input{
    border-radius: 20px;
    padding: 12px;
    padding-right: 45px;
    padding-left: 45px;
    
}

.btnAddCharacter{
    position: absolute;
    right: 10px;
    width: 42px; /* Tamaño del botón */
    height: 42px; /* El mismo valor que el ancho */
    border-radius: 50%; /* Botón redondo */
    border: none; /* Sin bordes */
    background: linear-gradient(135deg, #ffa766, #ff7300); /* Gradiente en diagonal */
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.2), /* Sombra exterior suave */
        inset 0 2px 4px rgba(255, 255, 255, 0.4); /* Brillo interno */
    cursor: pointer;
    transition: all 0.3s ease;
  
  
}

.btnRandom{
    position: absolute;
    left: 50%;
    top: -17px;
    transform: translate(-50%, -50%);
    padding: 5px 20px;
    background: linear-gradient(135deg, #ffa766, #ff8c42);
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.3), /* Sombra general */
        inset 0 2px 4px rgba(255, 255, 255, 0.4); /* Brillo interno */
    outline: 2px solid #fff; /* Borde externo sutil */
}

li a{
    color: white;
    text-decoration: none;
    
}